		<!-- //section끝 -->
		<!--footer시작-->
		<div class="footer">
			<div class="content-wrap">
				<p class="footer__logo">
					<img src="../../images/common/footer_logo.png" alt="남양 - issue room" class="hidden-m img-normal">
					<img src="../../images/common/footer_logo_m.png" alt="남양 - issue room" class="hidden-pt img-normal">
				</p>
				<ul class="footer__list">
					<li class="footer__item">대표전화 02-734-1305</li>
					<li class="footer__item">팩스번호 02-733-6389</li>
					<li class="footer__item">서울시 강남구 도산대로 240, 1964빌딩 남양유업(주)</li>
					<li class="footer__item">사업자등록번호 202-81-04367</li>
				</ul>
				<ul class="footer__list">
					<li class="footer__item">대표자 성명:이광범</li>
					<li class="footer__item">개인정보보호책임자 : 김소현실장 </li>
				</ul>
				<ul class="footer__list">
					<li class="footer__item">COPYRIGHT©NAMYANG DAIRY PRODUCTS CO., LTD. ALL RIGHTS RESERVED</li>
					<li class="footer__item">webmaster@namyangi.com</li>
				</ul>
			</div>
		</div>
		<button class="top-btn">TOP</button>
	</div><!--// common-->
	<script type="text/javascript" src="../../js/libs/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="../../js/libs/slick.min.js"></script>
	<script type="text/javascript" src="../../js/common.js"></script>
	<% if (page == "main") { %>
		<script type="text/javascript" src="../../js/main.js"></script>
	<% } %>
</body>
</html>
<!--footer끝-->
