<%
	var data = jsonData
%>
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="mobile-web-app-capable" content="yes">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
<meta name="format-detection" content="telephone=no, address=no, email=no">
<meta property="og:type" content="website">
<meta property="og:title" content="남양유업 - 이슈룸">
<meta property="og:description" content="">
<meta property="og:url" content="">
<title><%= data.site.name.kor %></title>
<!-- 공통 css -->
<link rel="stylesheet" href="../../css/style.css">
<% if (page == "main") { %>
	<link rel="stylesheet" href="../../css/main.css">
<%} else if (page == "content") { %>
	<link rel="stylesheet" href="../../css/content.css">
<% } %>
<!-- <link rel="icon" href="../../images/common/favicon.ico"> -->

</head>
<body>
	<div class="common">
		<div class="popup">
			<div class="popup__wrap">
				<div class="popup__box">
					<div class="popup__logo">
						<img src="../../images/common/popup_logo.jpg" alt="남양 - issue room" class="img-normal hidden-m">
						<img src="../../images/common/popup_logo_m.jpg" alt="남양 - issue room" class="img-normal hidden-pt">
					</div>
					<h2 class="popup__tit">고객님의 <strong>소중한 의견</strong>을 보내주세요!</h2>
					<p class="popup__input">
						<input type="text" class="input1" placeholder="이름">
					</p>
					<p class="popup__input">
						<input type="email" class="input1" placeholder="이메일">
					</p>
					<p class="popup__input">
						<textarea class="textarea1" placeholder="소중한 의견 입력하세요"></textarea>
					</p>
					<div class="popup__check">
						<input type="checkbox" name="costAgree1" id="costAgree1" class="checkbox02"><label for="costAgree1">개인정보 수집 및 이용 동의(필수)</label>
						<a href="" class="popup__view is-view js-terms-open">[자세히 보기]</a>
					</div>
					<button class="popup__btn js-hover">보내기</button>
					<button class="popup__close js-popup-close">close</button>
				</div>
				<div class="popup__terms">
					<button class="popup__close js-terms-close">close</button>
					<div class="popup__outer">
						<p class="popup__terms-tit">개인정보 취급방침</p>
						<div class="popup__inner">
							바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의 개인정보 보호를 매우 중요하게 생각하고 있으며, 이용자가 이용함에 있어서 본원에게 제공한 개인정보가 보호 받을 수 있도록 최선을 다하고 있습니다.
						</div>
					</div>
				</div>
			</div>
		</div>
		<a href="" class="popup-btn js-popup-open">
			소중한의견
			<!-- <span class="popup-btn__wrap">소중한의견</span> -->
		</a>
		<div class="header">
			<div class="header__wrap">
				<h1 class="header__logo"><a href="" class="header__link"><img src="../../images/common/logo.jpg" alt="" class="img-w100"></a></h1>
				<div class="header__search">
					<div class="header__area">
						<button type="submit" class="header__btn type-submit">검색</button>
						<label class="sr-only" for="keyword">검색</label>
						<input type="text" class="header__input" name="keyword" id="keyword" autocomplete="off" placeholder="" required="">
					</div>
				</div>
				<div class="header__faq">
					<a href="" class="header__link js-popup-open"><img src="../../images/common/faq_tit.jpg" alt="" class="img-w100"></a>
				</div>
				<button class="header__menu js-gnb-btn">
					<span class="header__menu-wrap">
						<span class="header__menu-line nth-1">menu</span>
						<span class="header__menu-line nth-2">menu</span>
						<span class="header__menu-line nth-3">menu</span>
					</span>
				</button>
			</div>
		</div>
		<div class="gnb">
			<div class="gnb__wrap">
				<div class="gnb__header">
					<div class="gnb__box">
						<p class="gnb__logo"><img src="../../images/common/logo.jpg" alt="" class="img-w100"></p>
						<button class="gnb__close js-gnb-close">close</button>
					</div>
				</div>
				<ul class="gnb__depth1-list">
					<li class="gnb__depth1-item type-2depth js-hover">
						<a href="" class="gnb__depth1-link">스토리</a>
						<ul class="gnb__depth2-list">
							<li class="gnb__depth2-item js-hover">
								<a href="" class="gnb__depth2-link">진심을 담은 영상</a>
							</li>
							<li class="gnb__depth2-item js-hover">
								<a href="" class="gnb__depth2-link">진심을 담은 이야기</a>
							</li>
						</ul>
					</li>
					<li class="gnb__depth1-item js-hover">
						<a href="" class="gnb__depth1-link">팩트체크</a>
					</li>
					<li class="gnb__depth1-item js-hover">
						<a href="" class="gnb__depth1-link">미디어</a>
					</li>
					<li class="gnb__depth1-item js-hover">
						<a href="" class="gnb__depth1-link js-popup-open">소중한의견</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="dim">dim</div>
<!-- section시작 -->
