<%
	type = "main"
	page = "main"
%>
<% include ../_include/_header %>
<div class="container type-main">
	<div class="main">
		<div class="main__wrap">
			<div class="main-visual">
				<ul class="main-visual__list js-main-slide">
					<li class="main-visual__item">
						<a href="" class="main-visual__link">
							<img src="../../images/main/main_slide_1.jpg" class="img-w100 hidden-m" alt=""/>
							<img src="../../images/main/main_slide_1_m.jpg" class="img-w100 hidden-pt" alt=""/>
						</a>
					</li>
					<li class="main-visual__item">
						<a href="" class="main-visual__link">
							<img src="../../images/main/main_slide_1.jpg" class="img-w100 hidden-m" alt=""/>
							<img src="../../images/main/main_slide_1_m.jpg" class="img-w100 hidden-pt" alt=""/>
						</a>
					</li>
					<li class="main-visual__item">
						<a href="" class="main-visual__link">
							<img src="../../images/main/main_slide_1.jpg" class="img-w100 hidden-m" alt=""/>
							<img src="../../images/main/main_slide_1_m.jpg" class="img-w100 hidden-pt" alt=""/>
						</a>
					</li>
					<li class="main-visual__item">
						<a href="" class="main-visual__link">
							<img src="../../images/main/main_slide_1.jpg" class="img-w100 hidden-m" alt=""/>
							<img src="../../images/main/main_slide_1_m.jpg" class="img-w100 hidden-pt" alt=""/>
						</a>
					</li>
				</ul>
				<a class="main-visual__btn type-prev js-slide-prev">prev</a>
				<a class="main-visual__btn type-next js-slide-next">next</a>
			</div>
			<div class="banner-content type-main">
				<div class="banner-content__box">
					<h2 class="banner-content__tit">TOP POST</h2>
					<ul class="banner-content__list">
						<li class="banner-content__item">
							<a href="" class="banner-content__link js-hover">
								<img src="../../images/banner/banner_1.jpg" class="img-responsive" alt="남양에 '을'은 없다? 상생을 위한노력"/>
							</a>
						</li>
						<li class="banner-content__item type-video"><!-- 비디오일시 type-video 추가 -->
							<a href="" class="banner-content__link js-hover">
								<img src="../../images/banner/banner_2.jpg" class="img-responsive" alt="경단녀? 남양에는 없습니다."/>
							</a>
						</li>
						<li class="banner-content__item">
							<a href="" class="banner-content__link js-hover">
								<img src="../../images/banner/banner_1.jpg" class="img-responsive" alt="남양에 '을'은 없다? 상생을 위한노력"/>
							</a>
						</li>
					</ul>
				</div>
				<div class="banner-content__box">
					<h2 class="banner-content__tit">스토리 - 인터뷰 기사</h2>
					<ul class="banner-content__list">
						<li class="banner-content__item"><!-- 비디오일시 type-video 추가 -->
							<a href="" class="banner-content__link js-hover">
								<img src="../../images/banner/banner_2.jpg" class="img-responsive" alt="경단녀? 남양에는 없습니다."/>
							</a>
						</li>
						<li class="banner-content__item"><!-- 비디오일시 type-video 추가 -->
							<a href="" class="banner-content__link js-hover">
								<img src="../../images/banner/banner_2.jpg" class="img-responsive" alt="경단녀? 남양에는 없습니다."/>
							</a>
						</li>
						<li class="banner-content__item"><!-- 비디오일시 type-video 추가 -->
							<a href="" class="banner-content__link js-hover">
								<img src="../../images/banner/banner_2.jpg" class="img-responsive" alt="경단녀? 남양에는 없습니다."/>
							</a>
						</li>
					</ul>
					<div class="banner-content__bottom">
						<button class="banner-content__more btn1">
							<span class="btn1__wrap">more</span>
						</button>
					</div>
				</div>
				<div class="banner-content__box">
					<h2 class="banner-content__tit">스토리 - 인터뷰 영상</h2>
					<ul class="banner-content__list">
						<li class="banner-content__item type-video"><!-- 비디오일시 type-video 추가 -->
							<a href="" class="banner-content__link js-hover">
								<img src="../../images/banner/banner_2.jpg" class="img-responsive" alt="경단녀? 남양에는 없습니다."/>
							</a>
						</li>
						<li class="banner-content__item type-video"><!-- 비디오일시 type-video 추가 -->
							<a href="" class="banner-content__link js-hover">
								<img src="../../images/banner/banner_2.jpg" class="img-responsive" alt="경단녀? 남양에는 없습니다."/>
							</a>
						</li>
						<li class="banner-content__item type-video"><!-- 비디오일시 type-video 추가 -->
							<a href="" class="banner-content__link js-hover">
								<img src="../../images/banner/banner_2.jpg" class="img-responsive" alt="경단녀? 남양에는 없습니다."/>
							</a>
						</li>
					</ul>
					<div class="banner-content__bottom">
						<button class="banner-content__more btn1">
							<span class="btn1__wrap">more</span>
						</button>
					</div>
				</div>
				<div class="banner-content__box">
					<h2 class="banner-content__tit">팩트체크</h2>
					<ul class="banner-content__list">
						<li class="banner-content__item"><!-- 비디오일시 type-video 추가 -->
							<a href="" class="banner-content__link js-hover">
								<img src="../../images/banner/banner_2.jpg" class="img-responsive" alt="경단녀? 남양에는 없습니다."/>
							</a>
						</li>
						<li class="banner-content__item"><!-- 비디오일시 type-video 추가 -->
							<a href="" class="banner-content__link js-hover">
								<img src="../../images/banner/banner_2.jpg" class="img-responsive" alt="경단녀? 남양에는 없습니다."/>
							</a>
						</li>
						<li class="banner-content__item"><!-- 비디오일시 type-video 추가 -->
							<a href="" class="banner-content__link js-hover">
								<img src="../../images/banner/banner_2.jpg" class="img-responsive" alt="경단녀? 남양에는 없습니다."/>
							</a>
						</li>
					</ul>
					<div class="banner-content__bottom">
						<button class="banner-content__more btn1">
							<span class="btn1__wrap">more</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
