<%
	type = "content"
	page = "content"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="view">
		<div class="content-wrap">
			<div class="banner-content">
				<h2 class="banner-content__tit">스토리 – 인터뷰 기사</h2>
				<ul class="banner-content__list">
					<li class="banner-content__item">
						<a href="" class="banner-content__link js-hover">
							<img src="../../images/banner/banner_1.jpg" class="img-responsive" alt="남양에 '을'은 없다? 상생을 위한노력"/>
						</a>
					</li>
					<li class="banner-content__item type-video">
						<a href="" class="banner-content__link js-hover">
							<img src="../../images/banner/banner_1.jpg" class="img-responsive" alt="남양에 '을'은 없다? 상생을 위한노력"/>
						</a>
					</li>
					<li class="banner-content__item type-video">
						<a href="" class="banner-content__link js-hover">
							<img src="../../images/banner/banner_1.jpg" class="img-responsive" alt="남양에 '을'은 없다? 상생을 위한노력"/>
						</a>
					</li>
					<li class="banner-content__item">
						<a href="" class="banner-content__link js-hover">
							<img src="../../images/banner/banner_1.jpg" class="img-responsive" alt="남양에 '을'은 없다? 상생을 위한노력"/>
						</a>
					</li>
					<li class="banner-content__item">
						<a href="" class="banner-content__link js-hover">
							<img src="../../images/banner/banner_1.jpg" class="img-responsive" alt="남양에 '을'은 없다? 상생을 위한노력"/>
						</a>
					</li>
					<li class="banner-content__item">
						<a href="" class="banner-content__link js-hover">
							<img src="../../images/banner/banner_1.jpg" class="img-responsive" alt="남양에 '을'은 없다? 상생을 위한노력"/>
						</a>
					</li>
					<li class="banner-content__item">
						<a href="" class="banner-content__link js-hover">
							<img src="../../images/banner/banner_1.jpg" class="img-responsive" alt="남양에 '을'은 없다? 상생을 위한노력"/>
						</a>
					</li>
					<li class="banner-content__item">
						<a href="" class="banner-content__link js-hover">
							<img src="../../images/banner/banner_1.jpg" class="img-responsive" alt="남양에 '을'은 없다? 상생을 위한노력"/>
						</a>
					</li>
					<li class="banner-content__item">
						<a href="" class="banner-content__link js-hover">
							<img src="../../images/banner/banner_1.jpg" class="img-responsive" alt="남양에 '을'은 없다? 상생을 위한노력"/>
						</a>
					</li>
					<li class="banner-content__item">
						<a href="" class="banner-content__link js-hover">
							<img src="../../images/banner/banner_1.jpg" class="img-responsive" alt="남양에 '을'은 없다? 상생을 위한노력"/>
						</a>
					</li>
					<li class="banner-content__item">
						<a href="" class="banner-content__link js-hover">
							<img src="../../images/banner/banner_1.jpg" class="img-responsive" alt="남양에 '을'은 없다? 상생을 위한노력"/>
						</a>
					</li>
					<li class="banner-content__item">
						<a href="" class="banner-content__link js-hover">
							<img src="../../images/banner/banner_1.jpg" class="img-responsive" alt="남양에 '을'은 없다? 상생을 위한노력"/>
						</a>
					</li>
				</ul>
				<div class="banner-content__bottom">
					<button class="banner-content__more btn1">
						<span class="btn1__wrap">more</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
