<%
	type = "content"
	page = "content"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="faq">
		<div class="content-wrap">
			<p class="faq__logo"><img src="../../images/content/faq_logo.png" class="img-normal" alt="남양 - 당신을 듣다 남양에게 묻는다"/></p>
			<h2 class="faq__tit">자주 묻는 질문</h2>
			<ul class="faq__list">
				<li class="faq__item is-active">
					<div class="faq__header">
						<h3 class="faq__subject">가장 궁금해하시는 질문과 답변을 안내합니다. 질문과 답변을 안내합니다. 질문과 답변을 안내합니다  질문과 답변을 안내합니다.  질문과 답변을 안내합니다.  질문과 답변을 안내합니다..</h3>
						<a href="" class="faq__link js-faq">열기/닫기</a>
					</div>
					<div class="faq__body">
						<p class="faq__txt">
							1. 이사 등의 이유로 자택 혹은 직장 주소가 변경되었을 경우 고객님은 각 카드사 콜센터로 연락 주시면 우편물 주소는
							자동으로 변경됩니다.<br><br>

							▶ 씨티은행 콜센터 Tel. 1655-6000 (전국 공통)<br>
							▶ 삼성카드 콜센터 Tel. 1655-6000 (전국 공통)<br>
							* 포인트 카드 고객님은 혹은 CRM센터 Tel. 1644-8007(전국 공통)를 통하여 개인 정보 변경이 가능합니다.<br><br>

							2. 주소 변경은 없으나 D/M 및 쿠폰북을 받고자 하는 점포 변경, 혹은 수령지(직장/자택)를 변경하시고자 할 때<br>
							▶ CRM센터 Tel.1655-6000(전국 공통)로 전화주시면 변경하여 드립니다.
						</p>
					</div>
				</li>
				<li class="faq__item">
					<div class="faq__header">
						<h3 class="faq__subject">가장 궁금해하시는 질문과 답변을 안내합니다.</h3>
						<a href="" class="faq__link js-faq">열기/닫기</a>
					</div>
					<div class="faq__body">
						<p class="faq__txt">
							1. 이사 등의 이유로 자택 혹은 직장 주소가 변경되었을 경우 고객님은 각 카드사 콜센터로 연락 주시면 우편물 주소는
							자동으로 변경됩니다.<br><br>

							▶ 씨티은행 콜센터 Tel. 1655-6000 (전국 공통)<br>
							▶ 삼성카드 콜센터 Tel. 1655-6000 (전국 공통)<br>
							* 포인트 카드 고객님은 혹은 CRM센터 Tel. 1644-8007(전국 공통)를 통하여 개인 정보 변경이 가능합니다.<br><br>

							2. 주소 변경은 없으나 D/M 및 쿠폰북을 받고자 하는 점포 변경, 혹은 수령지(직장/자택)를 변경하시고자 할 때<br>
							▶ CRM센터 Tel.1655-6000(전국 공통)로 전화주시면 변경하여 드립니다.
						</p>
					</div>
				</li>
				<li class="faq__item">
					<div class="faq__header">
						<h3 class="faq__subject">가장 궁금해하시는 질문과 답변을 안내합니다.</h3>
						<a href="" class="faq__link js-faq">열기/닫기</a>
					</div>
					<div class="faq__body">
						<p class="faq__txt">
							1. 이사 등의 이유로 자택 혹은 직장 주소가 변경되었을 경우 고객님은 각 카드사 콜센터로 연락 주시면 우편물 주소는
							자동으로 변경됩니다.<br><br>

							▶ 씨티은행 콜센터 Tel. 1655-6000 (전국 공통)<br>
							▶ 삼성카드 콜센터 Tel. 1655-6000 (전국 공통)<br>
							* 포인트 카드 고객님은 혹은 CRM센터 Tel. 1644-8007(전국 공통)를 통하여 개인 정보 변경이 가능합니다.<br><br>

							2. 주소 변경은 없으나 D/M 및 쿠폰북을 받고자 하는 점포 변경, 혹은 수령지(직장/자택)를 변경하시고자 할 때<br>
							▶ CRM센터 Tel.1655-6000(전국 공통)로 전화주시면 변경하여 드립니다.
						</p>
					</div>
				</li>
				<li class="faq__item">
					<div class="faq__header">
						<h3 class="faq__subject">가장 궁금해하시는 질문과 답변을 안내합니다.</h3>
						<a href="" class="faq__link js-faq">열기/닫기</a>
					</div>
					<div class="faq__body">
						<p class="faq__txt">
							1. 이사 등의 이유로 자택 혹은 직장 주소가 변경되었을 경우 고객님은 각 카드사 콜센터로 연락 주시면 우편물 주소는
							자동으로 변경됩니다.<br><br>

							▶ 씨티은행 콜센터 Tel. 1655-6000 (전국 공통)<br>
							▶ 삼성카드 콜센터 Tel. 1655-6000 (전국 공통)<br>
							* 포인트 카드 고객님은 혹은 CRM센터 Tel. 1644-8007(전국 공통)를 통하여 개인 정보 변경이 가능합니다.<br><br>

							2. 주소 변경은 없으나 D/M 및 쿠폰북을 받고자 하는 점포 변경, 혹은 수령지(직장/자택)를 변경하시고자 할 때<br>
							▶ CRM센터 Tel.1655-6000(전국 공통)로 전화주시면 변경하여 드립니다.
						</p>
					</div>
				</li>
				<li class="faq__item">
					<div class="faq__header">
						<h3 class="faq__subject">가장 궁금해하시는 질문과 답변을 안내합니다.</h3>
						<a href="" class="faq__link js-faq">열기/닫기</a>
					</div>
					<div class="faq__body">
						<p class="faq__txt">
							1. 이사 등의 이유로 자택 혹은 직장 주소가 변경되었을 경우 고객님은 각 카드사 콜센터로 연락 주시면 우편물 주소는
							자동으로 변경됩니다.<br><br>

							▶ 씨티은행 콜센터 Tel. 1655-6000 (전국 공통)<br>
							▶ 삼성카드 콜센터 Tel. 1655-6000 (전국 공통)<br>
							* 포인트 카드 고객님은 혹은 CRM센터 Tel. 1644-8007(전국 공통)를 통하여 개인 정보 변경이 가능합니다.<br><br>

							2. 주소 변경은 없으나 D/M 및 쿠폰북을 받고자 하는 점포 변경, 혹은 수령지(직장/자택)를 변경하시고자 할 때<br>
							▶ CRM센터 Tel.1655-6000(전국 공통)로 전화주시면 변경하여 드립니다.
						</p>
					</div>
				</li>
			</ul>
			<div class="content__footer">
				<button class="content__btn btn1">더보기</button>
			</div>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
