<%
	type = "content"
	page = "content"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="view">
		<div class="content-wrap">
			<div class="banner-content">
				<h2 class="banner-content__tit">스토리 – 인터뷰 영상</h2>
				<div class="board__table">
					<div class="board__tr">
						<div class="board__td type-list board__number"><span class="board__line">1979</span></div>
						<div class="board__td type-list board__title">
							<a href="" class="board__link js-board-link"><span class="board__category">뉴스토마토</span> 휜코 수술, ‘모양과 기능’ 동시에 고려해야 고려해야 뉴스토마토</span> 휜코 수술, ‘모양과 기능’ 동시에 고려해야 고려해야 뉴스토마토</span> 휜코 수술, ‘모양과 기능’ 동시에 고려해야 고려해야 뉴스토마토</span> 휜코 수술, ‘모양과 기능’ 동시에 고려해야 고려해야</a>
						</div>
						<div class="board__td type-list board__date">2017.11.16</div>
					</div>
					<div class="board__tr">
						<div class="board__td type-list board__number"><span class="board__line">1979</span></div>
						<div class="board__td type-list board__title">
							<a href="" class="board__link js-board-link"><span class="board__category">뉴스토마토</span> 휜코 수술, ‘모양과 기능’ 동시에 고려해야 고려해야</a>
						</div>
						<div class="board__td type-list board__date">2017.11.16</div>
					</div>
				</div>
			</div>
			<div class="pagination">
				<ul class="pagination__list">
					<li class="pagination__item pagination__item-first">
						<a href="" class="pagination__link">처음</a>
					</li>
					<li class="pagination__item pagination__item-prev">
						<a href="" class="pagination__link">이전</a>
					</li>
					<li class="pagination__item pagination__item-num is-active">
						<a href="" class="pagination__link">1</a>
					</li>
					<li class="pagination__item pagination__item-num is-acitve">
						<a href="" class="pagination__link">2</a>
					</li>
					<li class="pagination__item pagination__item-num">
						<a href="" class="pagination__link">3</a>
					</li>
					<li class="pagination__item pagination__item-num">
						<a href="" class="pagination__link">4</a>
					</li>
					<li class="pagination__item pagination__item-num">
						<a href="" class="pagination__link">5</a>
					</li>
					<li class="pagination__item pagination__item-next">
						<a href="" class="pagination__link">다음</a>
					</li>
					<li class="pagination__item pagination__item-last">
						<a href="" class="pagination__link">마지막</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
