<%
	type = "content"
	page = "content"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="search">
		<div class="content-wrap">
			<div class="search__wrap">
				<div class="content-search">
					<div class="content-search__area">
						<button type="submit" class="content-search__btn type-submit">검색</button>
						<label class="sr-only" for="keyword">검색</label>
						<input type="text" class="content-search__input" name="keyword" id="keyword" autocomplete="off" placeholder="안전캡" required="">
					</div>
				</div>
			</div>
			<!-- 검색결과있을경우 -->
			<h2 class="search__tit"><span class="color-point">안전캡</span>에 대한 총 <span class="color-point">5건</span>의 <span class="inline-block"> 검색 결과가 있습니다.</span></h2>
			<ul class="search__list">
				<li class="search__item">
					<div class="search__img">
						<img src="../../images/banner/banner_1.jpg" class="img-w100" alt=""/>
					</div>
					<h3 class="search__subject">중부지방에서 '단풍 바통'을 이어받은 남부지방에는 유명산마다 단풍을 구경하려는 행락객들로 북적였다.  중부지방에서 '단풍 바통'을 이어받은 남부지방에는 유명산마다 단풍을 구경하려는 행락객들로 북적였다.</h3>
					<p class="search__txt">
						광주광역시 무등산에는 해발 1천187ｍ 정상부에서 내려온 단풍이 토끼등과 늦재, 바
						람재 등으로 이어지는 중부 능선 탐방로를 형형색색 물들였다. 포근한 기온으로 인해
						올해 무등산 가을 단풍은 작년보다 사흘가량 늦었는데도 절정의 풍광을 선보여 탐방객
						들의 감탄을 자아냈다. 장성 백양사 입구 북두교에서 쌍계루까지 3.4㎞ 구간에 펼쳐진
						광주광역시 무등산에는 해발 1천187ｍ 정상부에서 내려온 단풍이 토끼등과 늦재, 바
						람재 등으로 이어지는 중부 능선 탐방로를 형형색색 물들였다. 포근한 기온으로 인해
						올해 무등산 가을 단풍은 작년보다 사흘가량 늦었는데도 절정의 풍광을 선보여 탐방객
						들의 감탄을 자아냈다. 장성 백양사 입구 북두교에서 쌍계루까지 3.4㎞ 구간에 펼쳐진
					</p>
					<p class="search__category"><span class="search__depth">스토리</span><span class="search__depth">스토리-인터뷰기사</span></p>
				</li>
				<li class="search__item">
					<div class="search__img">
						<img src="../../images/banner/banner_1.jpg" class="img-w100" alt=""/>
					</div>
					<h3 class="search__subject">중부지방에서 '단풍 바통'을 이어받은 남부지방에는 유명산마다 단풍을 구경하려는 행락객들로 북적였다.  중부지방에서 '단풍 바통'을 이어받은 남부지방에는 유명산마다 단풍을 구경하려는 행락객들로 북적였다.</h3>
					<p class="search__txt">
						광주광역시 무등산에는 해발 1천187ｍ 정상부에서 내려온 단풍이 토끼등과 늦재, 바
						람재 등으로 이어지는 중부 능선 탐방로를 형형색색 물들였다. 포근한 기온으로 인해
						올해 무등산 가을 단풍은 작년보다 사흘가량 늦었는데도 절정의 풍광을 선보여 탐방객
						들의 감탄을 자아냈다. 장성 백양사 입구 북두교에서 쌍계루까지 3.4㎞ 구간에 펼쳐진
						광주광역시 무등산에는 해발 1천187ｍ 정상부에서 내려온 단풍이 토끼등과 늦재, 바
						람재 등으로 이어지는 중부 능선 탐방로를 형형색색 물들였다. 포근한 기온으로 인해
						올해 무등산 가을 단풍은 작년보다 사흘가량 늦었는데도 절정의 풍광을 선보여 탐방객
						들의 감탄을 자아냈다. 장성 백양사 입구 북두교에서 쌍계루까지 3.4㎞ 구간에 펼쳐진
					</p>
					<p class="search__category"><span class="search__depth">스토리</span><span class="search__depth">스토리-인터뷰기사</span></p>
				</li>
				<li class="search__item">
					<div class="search__img">
						<img src="../../images/banner/banner_1.jpg" class="img-w100" alt=""/>
					</div>
					<h3 class="search__subject">중부지방에서 '단풍 바통'을 이어받은 남부지방에는 유명산마다 단풍을 구경하려는 행락객들로 북적였다.  중부지방에서 '단풍 바통'을 이어받은 남부지방에는 유명산마다 단풍을 구경하려는 행락객들로 북적였다.</h3>
					<p class="search__txt">
						광주광역시 무등산에는 해발 1천187ｍ 정상부에서 내려온 단풍이 토끼등과 늦재, 바
						람재 등으로 이어지는 중부 능선 탐방로를 형형색색 물들였다. 포근한 기온으로 인해
						올해 무등산 가을 단풍은 작년보다 사흘가량 늦었는데도 절정의 풍광을 선보여 탐방객
						들의 감탄을 자아냈다. 장성 백양사 입구 북두교에서 쌍계루까지 3.4㎞ 구간에 펼쳐진
						광주광역시 무등산에는 해발 1천187ｍ 정상부에서 내려온 단풍이 토끼등과 늦재, 바
						람재 등으로 이어지는 중부 능선 탐방로를 형형색색 물들였다. 포근한 기온으로 인해
						올해 무등산 가을 단풍은 작년보다 사흘가량 늦었는데도 절정의 풍광을 선보여 탐방객
						들의 감탄을 자아냈다. 장성 백양사 입구 북두교에서 쌍계루까지 3.4㎞ 구간에 펼쳐진
					</p>
					<p class="search__category"><span class="search__depth">스토리</span><span class="search__depth">스토리-인터뷰기사</span></p>
				</li>
				<li class="search__item">
					<div class="search__img">
						<img src="../../images/banner/banner_1.jpg" class="img-w100" alt=""/>
					</div>
					<h3 class="search__subject">중부지방에서 '단풍 바통'을 이어받은 남부지방에는 유명산마다 단풍을 구경하려는 행락객들로 북적였다.  중부지방에서 '단풍 바통'을 이어받은 남부지방에는 유명산마다 단풍을 구경하려는 행락객들로 북적였다.</h3>
					<p class="search__txt">
						광주광역시 무등산에는 해발 1천187ｍ 정상부에서 내려온 단풍이 토끼등과 늦재, 바
						람재 등으로 이어지는 중부 능선 탐방로를 형형색색 물들였다. 포근한 기온으로 인해
						올해 무등산 가을 단풍은 작년보다 사흘가량 늦었는데도 절정의 풍광을 선보여 탐방객
						들의 감탄을 자아냈다. 장성 백양사 입구 북두교에서 쌍계루까지 3.4㎞ 구간에 펼쳐진
						광주광역시 무등산에는 해발 1천187ｍ 정상부에서 내려온 단풍이 토끼등과 늦재, 바
						람재 등으로 이어지는 중부 능선 탐방로를 형형색색 물들였다. 포근한 기온으로 인해
						올해 무등산 가을 단풍은 작년보다 사흘가량 늦었는데도 절정의 풍광을 선보여 탐방객
						들의 감탄을 자아냈다. 장성 백양사 입구 북두교에서 쌍계루까지 3.4㎞ 구간에 펼쳐진
					</p>
					<p class="search__category"><span class="search__depth">스토리</span><span class="search__depth">스토리-인터뷰기사</span></p>
				</li>
				<li class="search__item">
					<div class="search__img">
						<img src="../../images/banner/banner_1.jpg" class="img-w100" alt=""/>
					</div>
					<h3 class="search__subject">중부지방에서 '단풍 바통'을 이어받은 남부지방에는 유명산마다 단풍을 구경하려는 행락객들로 북적였다.  중부지방에서 '단풍 바통'을 이어받은 남부지방에는 유명산마다 단풍을 구경하려는 행락객들로 북적였다.</h3>
					<p class="search__txt">
						광주광역시 무등산에는 해발 1천187ｍ 정상부에서 내려온 단풍이 토끼등과 늦재, 바
						람재 등으로 이어지는 중부 능선 탐방로를 형형색색 물들였다. 포근한 기온으로 인해
						올해 무등산 가을 단풍은 작년보다 사흘가량 늦었는데도 절정의 풍광을 선보여 탐방객
						들의 감탄을 자아냈다. 장성 백양사 입구 북두교에서 쌍계루까지 3.4㎞ 구간에 펼쳐진
						광주광역시 무등산에는 해발 1천187ｍ 정상부에서 내려온 단풍이 토끼등과 늦재, 바
						람재 등으로 이어지는 중부 능선 탐방로를 형형색색 물들였다. 포근한 기온으로 인해
						올해 무등산 가을 단풍은 작년보다 사흘가량 늦었는데도 절정의 풍광을 선보여 탐방객
						들의 감탄을 자아냈다. 장성 백양사 입구 북두교에서 쌍계루까지 3.4㎞ 구간에 펼쳐진
					</p>
					<p class="search__category"><span class="search__depth">스토리</span><span class="search__depth">스토리-인터뷰기사</span></p>
				</li>
			</ul>
			<div class="content__footer">
				<button class="btn2">
					<span class="btn2__wrap">more</span>
				</button>
			</div>
			<!-- 검색결과업을경우 -->
			<!-- <div class="search-noti">
				<p class="search-noti__tit">검색결과가 없습니다.</p>
				<p class="search-noti__txt">다른 검색어를 입력하세요.</p>
			</div> -->
		</div>
	</div>
</div>
<% include ../_include/_footer %>
