<%
	type = "content"
	page = "content"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="view">
		<div class="content-wrap">
			<div class="view__wrap">
				<h2 class="view__tit">남양에서는 갑질이 없다</h2>
				<div class="view__content">
					<ul class="sns">
						<li class="sns__item type-facebook"><a href="" class="sns__link">facebook</a></li>
						<li class="sns__item type-twitter"><a href="" class="sns__link">twitter</a></li>
						<li class="sns__item type-katalk"><a href="" class="sns__link">katalk</a></li>
						<li class="sns__item type-url"><a href="" class="sns__link">url</a></li>
					</ul>
					<!-- img -->
					<img src="../../images/content/view_img_1.jpg" alt=""/>
					<!-- <div class="view__video">
						<iframe src="https://www.youtube.com/embed/R3pToY1fv74" frameborder="0"></iframe>
					</div> -->
					<p>
						중부지방에서 '단풍 바통'을 이어받은 남부지방에는 유명산마다 단풍을 구경하려는 행락객들로 북적였다.<br><br>

						광주광역시 무등산에는 해발 1천187ｍ 정상부에서 내려온 단풍이 토끼등과 늦재, 바람재 등으로 이어지는 중부 능선 탐방로
						를 형형색색 물들였다. 포근한 기온으로 인해 올해 무등산 가을 단풍은 작년보다 사흘가량 늦었는데도 절정의 풍광을 선보여
						탐방객들의 감탄을 자아냈다. 장성 백양사 입구 북두교에서 쌍계루까지 3.4㎞ 구간에 펼쳐진 앙증맞은 '애기단풍'은 절정을
						뽐냈다.데칼마니처럼 단풍과 쌍계루가 비치는 연못의 징검다리에는 '인생샷'을 건지려는 탐방객으로 붐볐다. 단풍이 절정에
						달한 전북 내장산에는 3만여명의 탐방객이 찾아 가을옷을 갈아입은 단풍을 배경으로 기념사진을 촬영하고 숲길을 걸었다.
						지리산 국립공원과 완주 모악산, 무주 덕유산에도 이른 아침부터 탐방객들이 몰려 늦가을의 정취를 만끽했다.<br><br>

						가지산과 신불산 등 1천ｍ 이상 고봉 7개가 울산과 경남에 걸쳐 늘어선 영남알프스에도 등산로마다 단풍 맞이에 나선
						방문객들로 붐볐다.<br><br>

						아직 단풍이 남아 있는 속리산국립공원에는 4개 탐방지구에 8천900여 명이 찾아 등산과 산책으로 휴일을 만끽했다. 특히 법
						주사에서 세심정을 잇는 세조길은 형형색색의 등산복을 입은 가족 단위 나들이객으로 붐볐다. 월악산국립공원에도 6천500
						여명이 찾아 즐거운 하루를 보냈다.<br><br>

						경기의 소금강이라는 별명으로 유명한 동두천 소요산 주차장도 이른 아침부터 가득 찼다. 등산객들은 산을 오르며 붉게익어
						가는 가을 산의 정취를 즐겼다. 파주 마장호수와 감악산 등 출렁다리로 유명한 산과 관광지에도 오전부터 시민들의 발길이 이
						어졌다. 이들은 아찔한 출렁다리 위에서 연신 즐거운 비명을 지르며 기념사진을 찍었다.
					</p>
				</div>
				<div class="view__footer">
					<div class="view__group">
						<button class="view__btn type-prev">prev</button>
						<button class="view__btn type-next">next</button>
					</div>
					<button class="view__more btn2">목록</button>
				</div>
			</div>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
