@charset "UTF-8";
@import "variables";
@import "mixins";
@import "vendor";
@charset "UTF-8";
// @import "variables";
@import "mixins";
.view{
    &__tit{margin:0 0 100px; font-size:36px; font-weight:$medium; color:#000;}
    &__content{position:relative; font-size:15px; color:#282828; text-align:center; line-height:1.7;
        img{vertical-align:middle; max-width:100%;
            & + p {margin-top:80px;}
        }
        iframe{width:100%;}
        p{margin:0; text-align:left;}
    }
    &__video{position:relative; width:100%; height:0; padding-bottom:56.25%;
        iframe{position:absolute; top:0; left:0; width:100%; height:100%;}
        & + p{margin-top:40px;}
    }
    &__footer{position:relative; margin-top:100px; text-align:center;}
    &__group{float:left; font-size:0;}
    &__btn{overflow:hidden; display:inline-block;; width:50px; height:50px; border:none; background:transparent; text-indent:-9999px; vertical-align:top; cursor:pointer;
        &:hover{
            &.type-prev{background:url('../images/content/view/page_prev_hover.jpg') no-repeat center center / contain;}
            &.type-next{background:url('../images/content/view/page_next_hover.jpg') no-repeat center center / contain;}
        }
        &.type-prev{background:url('../images/content/view/page_prev.jpg') no-repeat center center / contain;}
        &.type-next{background:url('../images/content/view/page_next.jpg') no-repeat center center / contain;}
        & + &{margin-left:6px;}
    }
    @media only screen and (max-width: $tablet-size) {
        &__footer{margin-top:80px;}
        &__group{float:none; font-size:0;}
        &__btn{position:absolute;
            &.type-prev{left:0; background:url('../images/content/view/page_prev_m.jpg') no-repeat center center / contain;}
            &.type-next{right:0; background:url('../images/content/view/page_next_m.jpg') no-repeat center center / contain;}
            & + &{margin-left:0px;}
        }
    }
    @media only screen and (max-width: $mobile-size) {
        &__tit{font-size:2.4rem;}
        &__content{font-size:1.4rem;
            img{
                & + p {margin-top:40px;}
            }
        }
        &__footer{margin-top:50px;}
        &__video{
            & + p{margin-top:20px;}
        }
        &__btn{width:30px; height:30px;
            &.type-prev{background-size:30px 30px;}
            &.type-next{background-size:30px 30px;}
            & + &{margin-left:0px;}
        }
    }
}


.sns{position:absolute; top:-70px;  right:0; margin:0; padding:0;
    $this:&;
    &__item{display:inline-block;
        & + &{margin-left:12px;}
        // &.is-hover{
        //     &.type-facebook{
        //         #{$this}__link{background:url('../images/common/facebook_hover.png') no-repeat center center/contain;}
        //     }
        //     &.type-twitter{
        //         #{$this}__link{background:url('../images/common/twitter_hover.png') no-repeat center center/contain;}
        //     }
        //     &.type-katalk{
        //         #{$this}__link{background:url('../images/common/katalk_hover.png') no-repeat center center/contain;}
        //     }
        //     &.type-url{
        //         #{$this}__link{background:url('../images/common/url_hover.png') no-repeat center center/contain;}
        //     }
        // }
        &.type-facebook{
            #{$this}__link{background:url('../images/common/facebook_hover.png') no-repeat center center/contain;}
        }
        &.type-twitter{
            #{$this}__link{background:url('../images/common/twitter_hover.png') no-repeat center center/contain;}
        }
        &.type-katalk{
            #{$this}__link{background:url('../images/common/katalk_hover.png') no-repeat center center/contain;}
        }
        &.type-url{
            #{$this}__link{background:url('../images/common/url_hover.png') no-repeat center center/contain;}
        }
    }
    &__link{position:relative; display:block; width:40px; height:40px; text-indent:-9999px;}
    @media only screen and (max-width: $tablet-size) {
        &__item{
            &.type-facebook{
                #{$this}__link{background:url('../images/common/facebook_hover.png') no-repeat center center/contain;}
            }
            &.type-twitter{
                #{$this}__link{background:url('../images/common/twitter_hover.png') no-repeat center center/contain;}
            }
            &.type-katalk{
                #{$this}__link{background:url('../images/common/katalk_hover.png') no-repeat center center/contain;}
            }
            &.type-url{
                #{$this}__link{background:url('../images/common/url_hover.png') no-repeat center center/contain;}
            }
        }
    }
    @media only screen and (max-width: $mobile-size) {top:-50px;
        &__item{
            & + &{margin-left:10px;}
            &.type-facebook{
                #{$this}__link{background:url('../images/common/facebook_m.png') no-repeat center center/contain;}
            }
            &.type-twitter{
                #{$this}__link{background:url('../images/common/twitter_m.png') no-repeat center center/contain;}
            }
            &.type-katalk{
                #{$this}__link{background:url('../images/common/katalk_m.png') no-repeat center center/contain;}
            }
            &.type-url{
                #{$this}__link{background:url('../images/common/url_m.png') no-repeat center center/contain;}
            }
        }
        &__link{width:29px; height:29px;}
    }
}


.content-search{width:520px; height:48px; margin:auto; padding:5px 28px 4px; border:2px solid #939393; box-sizing:border-box;; border-radius:24px; background:#fff;
    &__area{position:relative; width:100%; height:100%; font-size:0;}
    &__input{width:100%; height:100%; padding:0; border:none; outline:0; font-size:20px; color:#939393; font-family:$font-normal; background-color:#fff; }
    &__btn{position:absolute; top:0; bottom:0; right:-10px; display:block; width:40px; height:40px; margin:auto 0; padding:0; border:none; outline:0;
        background:url('../images/content/content-search_icon.png') no-repeat center center; text-indent:-9999px; cursor:pointer;}
    @media only screen and (max-width: $mobile-size) {width:100%; height:28px; padding:3px 26px 2px 14px;
        &__input{height:18px; font-size:1.3rem;}
        &__btn{right:-20px; width:16px; height:15px; background:url('../images/content/content-search_icon_m.png') no-repeat center center / contain;}
    }
}

.search{
    &__tit{margin:90px 0 0 0; font-size:30px; font-weight:$regular;}
    &__img{position:absolute; top:0; left:0; width:274px;}
    &__list{margin:70px 0 0 0; padding:0;}
    &__item{overflow:hidden; height:242px; position:relative; padding-left:304px; list-style:none; box-sizing:border-box;
        & + &{margin-top:50px;}
    }
    &__subject{height:64px; margin:0; font-size:20px; font-weight:$regular; line-height:1.6; color:#000;
        white-space: nowrap; overflow: hidden; text-overflow: ellipsis; white-space: normal;
        text-align: left; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;
    }
    &__txt{display: inline-block; height:100px; margin:34px 0 0 0; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; white-space: normal; color:#4d4d4d;
        text-align: left; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical;
        font-size:15px; line-height:1.7;}
    &__category{position:absolute; margin:0;  bottom:0; left:304px; font-size: 14px; color:#8f8f8f;}
    &__depth{display:inline-block;  vertical-align:middle;
        & + &:before{display:inline-block; margin:0 6px; vertical-align:middle; content:'>'}
    }
    @media only screen and (max-width: $mobile-size) {
        &__wrap{padding:0 20px;}
        &__tit{margin-top:44px; font-size:1.7rem; text-align:center;}
        &__list{margin-top:34px;}
        &__item{height:106px; padding-left:135px;
            & + &{margin-top:30px;}
        }
        &__img{width:120px;}
        &__subject{height:auto; font-size:1.5rem; -webkit-line-clamp: 1;}
        &__txt{height:auto; margin-top:10px; font-size:1.3rem; -webkit-line-clamp: 2;}
        &__category{left:135px; font-size: 1.2rem;}
        &__depth{
            & + &:before{margin:0 3px;}
        }
    }
}

.search-noti{text-align:center;
    &__tit{position:relative; margin:150px 0 0 0; font-size:26px; font-weight:$medium; color:#a3a3a3;
        &:before{display:block; width:200px; height:200px; margin:0 auto 20px;  background:url('../images/content/search_noti.png') center center / contain; content:'';}
    }
    &__txt{margin:44px 0 0 0; font-size:20px; color:#323232;}
    @media only screen and (max-width: $mobile-size) {
        &__tit{margin:100px 0 0 0; font-size:2rem; font-weight:$medium; color:#a3a3a3;
            &:before{width:100px; height:100px; margin-bottom:15px;}
        }
        &__txt{margin-top:30px; font-size:1.6rem;}
    }
}

.faq{
    $this:&;
    &__logo{margin:0 0 36px 0; text-align:center;}
    &__tit{margin:0; font-size:40px; font-weight:$medium; text-align:center;}
    &__list{margin:100px 0 0 0; padding:0; border-top:1px solid #c1c1c1;}
    &__item{list-style:none;
        &.is-active{
            #{$this}__subject{
                &:after{@include vendor('transform','rotate(180deg)');}
            }
        }
        &:first-child{
            #{$this}__body{display:block;}
        }
    }
    &__header{position:relative; padding:30px 70px 30px 60px; box-sizing:border-box; border-bottom:1px solid #c1c1c1;}
    &__subject{position:relative; margin:0; padding-left:50px; font-size:16px; font-weight:$regular; color:#000; box-sizing:border-box;
        &:before{position:absolute; top:-14px; left:0; font-size:30px; color:#a38348; font-weight:$regular; content:'Q.'}
        &:after{position:absolute; top:0; bottom:0; right:-40px; display:block; width:27px; height:15px; margin:auto 0; background:url('../images/content/faq_arrow.png') no-repeat center center / contain; content:''}
    }
    &__txt{position:relative; margin:0; padding-left:50px;  box-sizing:border-box; font-size:16px; color:#4d4d4d; line-height:2;
        &:before{position:absolute; top:-14px; left:0; font-size:30px; color:#7d7d7d; font-weight:$regular; content:'A.'}
    }
    &__body{display:none; padding:30px 60px; background:#e7e7e7;}
    &__link{position:absolute; top:0; left:0; width:100%; height:100%; text-indent:-9999px;}
    @media only screen and (max-width: $tablet-size) {
        &__list{margin-top:80px;}
    }
    @media only screen and (max-width: $mobile-size) {
        &__logo{width:118px; margin:0 auto 18px; text-align:center;}
        &__tit{font-size:2.4rem;}
        &__list{margin-top:60px;}

        &__header{padding:20px 40px 20px 15px;}
        &__subject{padding-left:33px; font-size:1.4rem;
            &:before{top:-6px; font-size:2rem;}
            &:after{right:-25px; width:18px; background:url('../images/content/faq_arrow_m.png') no-repeat center center / contain; content:''}
        }
        &__txt{padding-left:33px;font-size:1.3rem;
            &:before{top:-6px;font-size:2rem;}
        }
        &__body{padding:20px 15px;}
    }
}
