@charset "UTF-8";
@import "variables";
@import "mixins";
@import "vendor";
@charset "UTF-8";
// @import "variables";
@import "mixins";

.main{
    &__wrap{max-width:838px; width:100%; margin:0 auto;}
}

.main-visual{position:relative;
    &__list{position:relative; overflow:hidden; margin:0; padding:0; font-size:0;}
    &__item{position:relative; display:inline-block; list-style:none;}
    &__dot{position:absolute; top:20px; right:15px; margin:0; padding:0;
        li{display:inline-block; list-style:none;
            & + li{margin-left:6px;}
            &.slick-active{
                button{width:20px; background-color:#fff;}
            }
            button{display:inline-block; width:10px; height:10px; padding:0; outline:0; border:none; text-indent:-9999px; border-radius:5px; background-color:rgba(255,255,255,0.6);  transition: width 0.5s; cursor:pointer;}
        }
    }
    &__link{display:block;}
    &__btn{overflow:hidden; position:absolute; display:block; top:0; bottom:0; width:28px; height:28px; padding:0; margin:auto 0; outline:0; border:none; text-indent:-9999px; cursor:pointer; z-index:50;
        &.type-prev{left:15px; background:url('../images/common/slide_prev.png') no-repeat center center / contain;}
        &.type-next{right:15px; background:url('../images/common/slide_next.png') no-repeat center center / contain;}
    }
    @media only screen and (max-width: $mobile-size) {
        &__btn{width:33px; height:33px;
            &.type-prev{left:10px; background:url('../images/common/slide_prev_m.png') no-repeat center center / contain;}
            &.type-next{right:10px; background:url('../images/common/slide_next_m.png') no-repeat center center / contain;}
        }
        &__dot{top:7px; right:12px;
            li{
                & + li{margin-left:3px;}
                &.slick-active{
                    button{width:16px; background-color:#fff;}
                }
                button{width:8px; height:8px; padding:0; border-radius:4px;}
            }
        }
    }
}
