@charset "UTF-8";
@import "variables";
@import "mixins";
@import "vendor";
@charset "UTF-8";
// @import "variables";
@import "mixins";
@font-face {
	font-family: 'Noto Sans KR';
	src: url('../fonts/notokr-thin.eot');
	src: url('../fonts/notokr-thin.eot?#iefix') format('embedded-opentype'),
	url('../fonts/notokr-thin.woff2') format('woff2'),
	url('../fonts/notokr-thin.woff') format('woff'),
	url('../fonts/notokr-thin.ttf') format('truetype'),
	url('../fonts/notokr-thin.svg#notokr-thin') format('svg');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'Noto Sans KR';
	src: url('../fonts/notokr-light.eot');
	src: url('../fonts/notokr-light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/notokr-light.woff2') format('woff2'),
	url('../fonts/notokr-light.woff') format('woff'),
	url('../fonts/notokr-light.ttf') format('truetype'),
	url('../fonts/notokr-light.svg#notokr-light') format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans KR';
	src: url('../fonts/notokr-demilight.eot');
	src: url('../fonts/notokr-demilight.eot?#iefix') format('embedded-opentype'),
	url('../fonts/notokr-demilight.woff2') format('woff2'),
	url('../fonts/notokr-demilight.woff') format('woff'),
	url('../fonts/notokr-demilight.ttf') format('truetype'),
	url('../fonts/notokr-demilight.svg#notokr-demilight') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans KR';
	src: url('../fonts/notokr-regular.eot');
	src: url('../fonts/notokr-regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/notokr-regular.woff2') format('woff2'),
	url('../fonts/notokr-regular.woff') format('woff'),
	url('../fonts/notokr-regular.ttf') format('truetype'),
	url('../fonts/notokr-regular.svg#notokr-regular') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans KR';
	src: url('../fonts/notokr-medium.eot');
	src: url('../fonts/notokr-medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/notokr-medium.woff2') format('woff2'),
	url('../fonts/notokr-medium.woff') format('woff'),
	url('../fonts/notokr-medium.ttf') format('truetype'),
	url('../fonts/notokr-medium.svg#notokr-medium') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Noto Sans KR';
	src: url('../fonts/notokr-bold.eot');
	src: url('../fonts/notokr-bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/notokr-bold.woff2') format('woff2'),
	url('../fonts/notokr-bold.woff') format('woff'),
	url('../fonts/notokr-bold.ttf') format('truetype'),
	url('../fonts/notokr-bold.svg#notokr-bold') format('svg');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Noto Sans KR';
	src: url('../fonts/notokr-black.eot');
	src: url('../fonts/notokr-black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/notokr-black.woff2') format('woff2'),
	url('../fonts/notokr-black.woff') format('woff'),
	url('../fonts/notokr-black.ttf') format('truetype'),
	url('../fonts/notokr-black.svg#notokr-black') format('svg');
	font-weight: 700;
	font-style: normal;
}

html,body{margin:0; padding:0; font-family: $font-normal; color:#000000; font-size:20px; font-weight:$light; line-height:1.3; word-break: keep-all;
		&.no-scroll{position:fixed; overflow:hidden !important; width:100%; height:100%;
		.common{position:relative;}
		.footer{position:static;}
	}
}
html{height:100%;
	@media only screen and (max-width:$mobile-size){font-size:10px;}
}
body{position:relative; min-height:100%; padding-bottom:310px; box-sizing:border-box; background-color:#ededed;
	@media only screen and (max-width:$mobile-size){padding-bottom:330px;}
}
/*common*/
.inline-block{display:inline-block;}

.hidden-pm{display:none !important;}
.hidden-m{display:inline-block !important;}
.hidden-pt{display:none !important;}
.hidden-p{display:none !important;}
@media only screen and (max-width: $tablet-size) {
	.hidden-p{display:block !important;;}
	.hidden-t{display:none !important;}
	.hidden-pt{display:none !important;}
	.hidden-tm{display:none !important;}
	.hidden-pm{display:block !important;}
	.hidden-m{display:block !important;}
}
@media only screen and (max-width: $mobile-size) {
	.hidden-t{display:block !important;}
	.hidden-m{display:none !important;}
	.hidden-pt{display:block !important;}
	.hidden-pm{display:none !important;}
}

.top-btn{overflow:hidden; position:fixed; right:60px; bottom:60px; display:block; width:54px; height:54px; padding:0; background:url('../images/common/top_btn.png') no-repeat center center /contain; text-indent:-999px; outline: none; border:none; cursor:pointer;
	@media only screen and (max-width: $tablet-size) {display:none;}
}

.popup-btn{overflow:hidden; position:fixed; top:50%; display:block; width:41px; height:204px; background:url('../images/common/popup.png') no-repeat center center / contain; text-align:center;
	@include vendor('transform','translateY(-50%)'); text-indent:-9999px; z-index:100;
	// @include vendor('writing-mode','tb-rl'); font-size:26px; font-weight:$bold; text-decoration:none; background:$point1; z-index:100; color:#fff; line-height:1; letter-spacing:0px; border-radius:0 10px 10px 0;
	// &__wrap{position:relative; padding-top:40px; box-sizing:border-box;
	// 	&:before{position:absolute; top:0; left:0; right:0; display:block; width:28px; height:34px; margin:0 auto; background:url('../images/common/bubble.png') no-repeat center center /contain; content:'';}
	// }
	@media only screen and (max-width: $tablet-size) {
		display:block; top:auto; right:25px; bottom:25px; width:53px; height:53px; padding:0; background:url('../images/common/popup_m.png') no-repeat center center / contain;
	}
}

.popup{display:none; position:fixed; top:0; left:0; right:0; bottom:0; z-index:120; text-align:center;
	&.is-active{display:block;}
	&:before{position:absolute; z-index:-1; display:block; width:100%; height:100%; background-color:rgba(0,0,0,0.7); content:'';}
	&:after{display:inline-block; height:100%; vertical-align:middle; content:'';}
	&__wrap{position:relative; display:inline-block; width:530px; padding:30px 35px 50px;vertical-align:middle; background-color:#fff; box-sizing:border-box;
		&:before{position:absolute; top:0; bottom:0; left:0; display:block;  margin:auto 0; content:'';}
	}
	&__tit{position:relative; display:inline-block; margin:50px 0 0 0; padding-right:40px; font-size:26px; font-weight:$regular; box-sizing:border-box;
		&:after{position:absolute; right:0; bottom:0; display:block; width:34px; height:40px; background:url('../images/common/bubble_red.jpg') no-repeat center center /contain; content:'';}
		strong{font-weight:$bold;}
	}
	&__input{margin:30px 0 0 0;
		& + &{margin-top:10px;}
	}
	&__btn{width:100%; height:36px; margin-top:20px; padding:0; line-height:36px; font-weight:$medium; font-size:20px; background:transparent; border:1px solid #303030; outline:0; cursor:pointer;
		&.is-hover{border-color:$point1;}
	}
	&__view{font-size:12px; text-decoration:none; color:inherit;}
	&__check{margin-top:10px; font-size:14px; text-align:left;}
	&__close{overflow:hidden; position:absolute; top:0; right:0; display:block; width:50px; height:50px; padding:0; border:none; box-sizing:border-box; background:url('../images/common/popup_close.jpg') no-repeat center center / contain; text-indent:-9999px; z-index:10; cursor:pointer;}
	&__logo{
		img{margin:0 auto;}
	}
	&__terms{display:none; position:absolute; top:0; left:0; width:100%; height:100%; background:#fff;}
	&__terms-tit{margin:0 0 20px; font-size:24px; font-weight:$medium; color:#000;}
	&__outer{position:relative; padding:100px 50px; box-sizing:border-box;}
	&__inner{overflow:auto; height:300px; padding:10px; background:#eee; text-align:left; font-size:16px;}
	@media only screen and (max-width:$mobile-size){
		&__logo{width:170px; margin:0 auto;}
		&__tit{margin-top:30px; padding-right:34px; font-size:1.8rem; letter-spacing:-1px;
			&:after{width:25px; height:31px; background:url('../images/common/bubble_red_m.jpg') no-repeat center center /contain; content:'';}
		}
		&__wrap{width:calc(100% - 30px); padding:30px 25px 40px;}
		&__input{margin-top:25px;}
		&__btn{height:30px; line-height:30px; border-color:$point1; font-size:1.4rem;}
		&__close{width:34px; height:34px; background:url('../images/common/popup_close_m.jpg') no-repeat center center / contain;}
		&__terms-tit{margin-bottom:10px; font-size:1.8rem;}
		&__outer{padding:50px 25px;}
		&__inner{height:280px; font-size:1.4rem; line-height:1.5;}
	}
}

.input1{width:100%; height:40px; padding:0 15px; line-height:40px; background-color:#f4f4f4; font-size:20px; color:#959595; border:none; outline:none; box-sizing:border-box; font-family:$font-normal;
	@media only screen and (max-width:$mobile-size){height:32px; line-height:32px; padding:0 10px; font-size:1.4rem;}
	&::-ms-clear{display:none;}
}

.textarea1{width:100%; height:190px; padding:15px; background-color:#f4f4f4; font-size:20px; color:#959595; box-sizing:border-box; border:none; font-family:$font-normal;
	@media only screen and (max-width:$mobile-size){height:120px; padding:10px; font-size:1.4rem;}
}



.container{padding-top:100px; padding-bottom:150px; box-sizing:border-box;
	&.type-main{padding-top:10px;}
	@media only screen and (max-width: $tablet-size) {padding:80px 0 120px;
		&.type-main{padding-top:0px;}
	}
	@media only screen and (max-width: $mobile-size) {padding:50px 0 100px;}
}

.img-responsive{position:absolute; top:0; left:0; width:100%; height:100%;}
.img-normal{max-width:100%; vertical-align:middle;}
.img-w100{width:100%; vertical-align:middle;}

.btn1{ display:inline-block; width:110px; height:30px; padding:0; border:1px solid #303030; line-height:28px; box-sizing:border-box; background:transparent; outline:0;
	font-size:18px; font-weight:$medium; cursor:pointer; text-decoration:none;
	&__wrap{position:relative; display:inline-block; padding-right:12px; box-sizing:border-box;
		&:after{position:absolute; top:9px;  right:0; display:block; width:7px; height:12px; background:url('../images/common/btn_arrow.png') no-repeat center center /contain;content:''; }
	}
	@media only screen and (max-width:$mobile-size){width:90px; height:28px;  line-height:26px; font-size:1.5rem;
		&__wrap{padding-right:10px;
			&:after{ top:8px; width:6px; height:11px; background:url('../images/common/btn_arrow2_m.png') no-repeat center center /contain;}
		}
	}
}

.btn2{ display:inline-block; width:170px; height:50px; padding:0; border:1px solid #303030; line-height:48px; box-sizing:border-box; background:transparent; outline:0;
	font-size:20px; font-weight:$medium; cursor:pointer; text-decoration:none;
	&__wrap{position:relative; display:inline-block; padding-right:20px; box-sizing:border-box;
		&:after{position:absolute; top:15px;  right:0; display:block; width:10px; height:20px; background:url('../images/common/btn_arrow2.png') no-repeat center center /contain;content:''; }
	}
	@media only screen and (max-width:$mobile-size){width:90px; height:28px;  line-height:26px; font-size:1.5rem;
		&__wrap{padding-right:10px;
			&:after{ top:8px; width:6px; height:11px; background:url('../images/common/btn_arrow2_m.png') no-repeat center center /contain;}
		}
	}
}

.header{position:relative;  border-bottom:5px solid $point1; box-sizing:border-box; background-color:#fff;
	$this:&;
    &__logo{position:absolute; top:0; bottom:0; left:0; width:156px; height:29px; margin:auto 0; font-size:0;}
    &__search{height:36px; margin:auto; padding:4px 14px; border:3px solid $point1; box-sizing:border-box;; border-radius:18px;}
    &__area{position:relative; width:100%; height:100%; font-size:0; padding-right:20px; box-sizing:border-box;}
    &__input{width:100%; height:100%; padding:0; border:none; outline:0; font-size:14px; font-family:$font-normal;}
    &__btn{position:absolute; top:0; bottom:0; right:-10px; display:block; width:30px; height:30px; margin:auto 0; padding:0; border:none; outline:0; background:url('../images/common/search_icon.png') no-repeat center center; text-indent:-9999px; cursor:pointer;}
    &__link{display:block;}
    &__faq{position:absolute; top:0; bottom:0; right:0; width:107px; height:33px; margin:auto 0;}
    &__wrap{position:relative; width:100%; height:100%; max-width: 838px; margin:0 auto; padding:32px 226px 32px; box-sizing:border-box;}
	&__menu{display:none;}
	@media only screen and (max-width: $tablet-size) {height:auto;
		&__wrap{padding:40px 165px 40px 225px;}
		&__search{position:static; width:100%;}
		&__logo{left:40px; width:165px; height:25px;}
		&__faq{display:none; right:40px; width:105px; height:33px;}
		&__menu{position:absolute; top:0px; right:40px; bottom:0; display:block; width:36px; height:26px; margin:auto;  padding:0;
			background: transparent; border:none; outline:0; cursor:pointer; transition: all 0.3s; z-index:50;
			&.is-active{
				#{$this}__menu-line{
					&.nth-1{top:0; bottom:0; margin:auto 0; transform: rotate(45deg);}
					&.nth-2{display:none;}
					&.nth-3{top:0; bottom:0; margin:auto 0; transform: rotate(-45deg);}
				}
			}
			&.is-hover{@include vendor('transform', 'rotate(90deg)');}
		}
		&__menu-wrap{position:relative; display:block; width:100%; height:100%;}
		&__menu-line{overflow:hidden; position:absolute; left:0; width:100%; height:2px; background:#000; transition: all linear 0.2s; text-indent:-999px;
			&.nth-1{top:0;}
			&.nth-2{top:0; bottom:0; margin:auto 0;}
			&.nth-3{bottom:0;}
		}
	}
	@media only screen and (max-width: $mobile-size) {border-bottom-width:2px;
		&__wrap{padding:12px 60px 12px 112px;}
		&__search{position:static; width:100%; height:28px; padding:3px 26px 2px 14px; border:2px solid $point1; border-radius:14px;}
		&__input{font-size:1.3rem;}
		&__logo{left:15px; width:82px; height:15px;}
		&__faq{right:15px; width:62px; height:19px;}
		&__btn{right:-20px; width:20px; height:20px; background-size:12px 12px;}
		&__menu{right:15px; width:20px; height:14px;}
		&__menu-line{height:1px;}
	}
}
.dim{overflow:hidden; position:fixed; top:0; left:0; right:0; bottom:0; display:none; background-color:rgba(0,0,0,0.75); z-index:100; text-indent:-9999px;
	&.is-active{display:block;}
}
.gnb{margin-top:-5px;
	$this:&;
	&__wrap{position:relative; background-color:$point1;max-width:838px; width:100%; margin:0 auto; text-align:center;
		&:before,&:after{position:absolute; top:4px; display:block; width:22px; height:25px; content:'';}
		&:before{left:-22px; background:url('../images/common/gnb_left.png') no-repeat center center;}
		&:after{right:-22px; background:url('../images/common/gnb_right.png') no-repeat center center;}
	}
	&__header{display:none;}
	&__depth1-list{margin:0; padding:0;}
	&__depth1-item{position:relative; display:inline-block; list-style:none; font-size:15px; color:#fff; font-weight:$regular; vertical-align:top;
		& + &:before{position:absolute; top:0; bottom:0; left:0; display:block; height:15px; width:0; margin:auto 0; border-left:1px solid #fff; content:'';}
		&.is-hover{
			#{$this}__depth1-link{font-weight:$bold;}
			#{$this}__depth2-list{display:block;}
		}
	}
	&__depth1-link{display:block; padding:5px 44px; text-decoration:none;  color:inherit; box-sizing:border-box;}
	&__depth2-list{position:absolute; left:50%; margin:0 0 0 -75px; display:none; width:150px; padding:18px 0 12px; background:#fff; z-index:10;}
	&__depth2-item{display:block; list-style:none; font-size:14px; color:#505050; font-weight:$regular;
		&.is-hover{
			#{$this}__depth2-link{color:$point1; text-decoration:underline;}
		}
	}
	&__depth2-link{display:block; padding:8px 16px; text-decoration:none; color:inherit; box-sizing:border-box;}
	@media only screen and (max-width: $tablet-size) {position:fixed; top:0; right:-100%; width:calc(100% - 200px); z-index:120; transition: right 0.5s;
		&.is-active{right:0;}
		&__wrap{position:relative; background-color:#e0dcd5; max-width:none; width:100%; margin:0 auto; text-align:center;
			&:before,&:after{display:none;}
		}
		&__header{display:block; padding:40px 30px 40px 40px; background:#fff;}
		&__box{position:relative; }
		&__close{overflow:hidden; position:absolute; top:0; bottom:0; right:0; display:block; width:36px; height:36px; margin:auto 0; background:url('../images/common/gnb_close.png') no-repeat center center / contain; border:none; outline:0; text-indent:-9999px;}
		&__logo{margin:0; width:208px;}
		&__depth1-list{margin:0; padding:0 0 100px;}
		&__depth1-item{position:relative; display:block; font-size:20px; color:#333; text-align:left;
			& + &:before{position:absolute; top:0; bottom:auto; left:0; right:0; display:block; height:0; width:calc(100% - 80px); margin:0 auto; border-top:1px solid #fff; border-left:none;}
		}
		&__depth1-link{padding:20px 40px;}
		&__depth2-list{position:static; display:block; left:auto; width:auto; margin-left:0; padding:0 0 10px; background:none;}
		&__depth2-item{font-size:18px; color:#333;}
		&__depth2-link{position:relative; padding:10px 40px 10px 50px;
			&:before{position:absolute; top:8px; left:40px; display:block; content:'·';}
		}
	}
	@media only screen and (max-width: $mobile-size) {width:calc(100% - 100px);
		&__header{padding:25px 25px 25px 20px; }
		&__close{width:18px; height:18px;}
		&__logo{width:104px;}
		&__depth1-item{font-size:1.5rem;
			& + &:before{ width:calc(100% - 50px);}
		}
		&__depth1-link{padding:16px 25px;}
		&__depth1-list{padding-bottom:35px;}
		&__depth2-item{font-size:1.3rem;}
		&__depth2-link{position:relative; padding:5px 25px 8px 30px;
			&:before{top:4px; left:25px;}
		}
	}
}

.content{
	&__btn{margin:50px auto 0;}
	&__footer{margin-top:100px; text-align:center;}
	@media only screen and (max-width: $mobile-size) {
		&__btn{margin-top:30px;}
		&__footer{margin-top:50px;}
	}
}
.content-wrap{max-width:858px; width:100%; margin:0px auto; padding:0 10px; box-sizing:border-box;
	@media only screen and (max-width: $tablet-size) {padding:0 30px;}
	@media only screen and (max-width: $mobile-size) {padding:0 15px;}
}

.footer{position:absolute; left:0; bottom:0; width:100%; padding:80px 0; background-color:#242424; text-align:center; box-sizing:border-box;
	$this:&;
	&__logo{width:227px; margin:0 auto 36px;}
	&__list{margin:0; padding:0; font-size:0;
		& + &{margin-top:12px;}
	}
	&__item{position:relative; display:inline-block; font-size:14px; color:#d0d0d0; box-sizing:border-box; list-style:none;
		& + &{
			&:before{position:relative; top:1px; display:inline-block; width:0; height:12px; border-left:1px solid #d0d0d0; margin:0 8px; content:'';}
		}
	}
	@media only screen and (max-width: $tablet-size) {
		&__list{margin:0; padding:0; font-size:0;
			&:first-of-type,&:last-of-type{
				#{$this}__item:last-of-type{display:block; margin-top:12px;
					&:before{display:none;}
				}
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {padding:70px 0;
		&__logo{width:108px; margin-bottom:18px;}
		&__list{margin:0; padding:0; font-size:0;
			& + &{margin-top:8px;}
			&:first-of-type,&:last-of-type{
				#{$this}__item:last-of-type{display:block; margin-top:8px;
					&:before{display:none;}
				}
			}
			&:first-of-type{
				#{$this}__item:nth-of-type(3){display:block; margin-top:8px;
					&:before{display:none;}
				}
			}
		}
		&__item{font-size:1.3rem;}
	}
}


.sr-only { position: absolute;width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0;}

.color-point{color:$point1;}


.checkbox02{
	& + label { display: inline-block; margin-bottom: 0; line-height:18px;  }
	@media only screen { overflow: hidden; position: absolute; top: auto; width: 1px; height: 1px; padding: 0; margin: -1px; border: 0; clip: rect(0, 0, 0, 0);
		& + label {position: relative; margin-left: 0; padding-left: 24px; cursor: pointer; font-size: 12px; color: #333; font-weight: 300; vertical-align:middle;
			&:before{position: absolute; top: -1px; bottom: 0; left: 0; -webkit-box-sizing: border-box; box-sizing: border-box; width: 18px; height: 18px; margin: auto; border:1px solid #959595;
				background:#ffffff; content: '';  cursor: pointer;}
		}
		&:checked + label:after { position: absolute; top: -4px; left: 3px; bottom: 0; width: 9px; height: 3px; margin: auto;
			border-left: 2px solid $point1; border-bottom: 2px solid $point1; -webkit-transform: rotate(-48deg); -ms-transform: rotate(-48deg); transform: rotate(-48deg); background-repeat: no-repeat; cursor: pointer; content: '';
		}
		&.is-required{
			& + label{color:#ff0000;
				&:before{background:#ff0000;}
			}
		}
	}

	@media only screen and (max-width: $mobile-size) {
		& + label{ font-size: 1.3rem;
			&:before{top:0px; width:16px; height:16px;}
		}
	}
}



.banner-content{ text-align: center;
    $this:&;
	&.type-main{margin-top:60px;
		#{$this}__tit{margin-bottom:20px}
		#{$this}__bottom{margin-top:15px; text-align:right;}
	}
    &__tit{position:relative; display:inline-block; margin:0 0 50px; font-size:20px; font-weight:800; line-height:1;
        &:after{position:absolute; bottom:0; left:0; display:block; width:100%; height:6px; background:$point1; z-index:-1; content:'';}
    }
    &__list{margin:-30px 0 0 -8px; padding:0; font-size:0; text-align:left;}
    &__item{display:inline-block; width:33.33%; margin-top:30px; padding-left:8px; list-style:none; vertical-align:top; box-sizing:border-box;
        &.type-video{
            #{$this}__link{
                &:after{background:url('../images/common/play_btn.png') no-repeat center center;}
            }
        }
    }
    &__link{position:relative; display:block; width:100%; height:0; padding-bottom:88.32%;
        &:before,&:after{position:absolute; top:0; left:0; display:block; width:100%; height:100%; content:'';}
        &.is-hover{
            &:before{background:rgba(0,0,0,0.5); z-index:5;}
            &:after{background:url('../images/common/plus_btn.png') no-repeat center center; z-index:10;}
        }
    }
    &__box{
        & + &{margin-top:60px;}
    }
    &__bottom{margin-top:100px; text-align:center;}
    @media only screen and (max-width: $tablet-size) {
		&.type-main{ padding:0 40px; box-sizing:border-box;}
        &__item{
            &.type-video{
                #{$this}__link{
                    &:after{background-size:60px 60px;}
                }
            }
        }
    }
    @media only screen and (max-width: $mobile-size) {
		&.type-main{margin-top:34px; padding:0 15px;
			#{$this}__bottom{margin-top:15px; text-align:center;}
			#{$this}__item{display:none;
				&:nth-child(1),&:nth-child(2){display:inline-block;}
			}
		}
        &__tit{margin-bottom:20px; font-size:1.8rem;
            &:after{bottom:1px; height:3px;}
        }
        &__list{margin:-12px 0 0 -12px;}
        &__item{width:50%; padding-left:12px; margin-top:12px;
            &.type-video{
                #{$this}__link{
                    &:after{background-size:45px 45px;}
                }
            }
        }
        &__box{
            & + &{margin-top:34px;}
        }
        &__bottom{margin-top:50px; text-align:center;}
    }
}



.board{width:100%; margin:0px auto; padding:0 108px; box-sizing:border-box;
	$this:&;
	&__table{display:table; width:100%; border-top:3px solid $point1; border-spacing: 0;  border-collapse:collapse; table-layout: fixed; text-align:left; background:#fff;}
	&__td{display:table-cell; vertical-align:middle; line-height:1.5;  font-size:15px;
		&.type-list{height:70px;}
		&.type-center{text-align:center;}
	}
	&__tr{display:table-row; border-bottom:1px solid #e1e1e1; box-sizing:border-box;
		&.is-active{background-color:#fbfbfb;}
	}
	&__number{position:relative; width:80px; text-align:right; text-align:center;}
	&__line{position:relative; display:inline-block; width:100%;
		&:after{position:absolute; top:0; bottom:0; right:0; width:2px; height:16px; background-color:#e5e5e5; margin:auto 0; content:'';}

	}
	&__title{width:100%; padding:5px 40px;}
	&__date{width:130px; text-align:center;}
	&__category{margin-right:10px;font-weight:500; color:$point1;}
	&__link{display:block; width:100%; overflow:hidden; text-overflow:ellipsis; color:#666; text-decoration:none;
		&:hover{color:inherit;}
	}
	&__content{display:block; padding:50px 100px 100px; font-size:15px; line-height:1.6; box-sizing:border-box;
		& h2{margin:0 0 40px 0; font-size:25px; font-weight:400; color:#333;}
		& img{max-width:100%;}
		&.type-another{padding:50px 150px 100px;}
		&.type-society{padding:50px 85px 100px;}
	}
	&__find{position:relative; display:inline-block; width:234px; height:32px; margin-left:16px; padding:0 42px 0px 12px; border:1px solid #ddd; border-radius:16px 16px 16px 16px; vertical-align:middle;
		box-sizing:border-box;
	}
	&__find-input{width:100%; height:100%; margin:0; padding:0; border:none; outline:none;}
	&__find-btn{overflow:hidden; position:absolute; top:0; bottom:0; right:18px; display:inline-block; width:18px; height:18px; margin:auto 0 ; background:url('../images/common/board_search.png'); font-size:0; text-indent:-9999px; border:none; cursor:pointer; outline:0;}
	&__nodata{padding:85px 0; text-align:center;
		& img{max-width:100px;}
	}
	&__nodata-txt{margin:18px 0 0 0;  font-size: 18px; color: #969696;  line-height: 170%;}
	&__academic{font-size:17px; font-weight:400; color:#535353; vertical-align:middle;}
	&__national{width:30px; vertical-align:middle;
		& + #{$this}__academic{margin-left:10px;}
		&.hidden-m{display:inline-block !important;}
	}
	@media only screen and (max-width:$tablet-size){padding:0;
		&__content{
			& img{max-width:100%;}
		}
	}
	@media only screen and (max-width:$mobile-size){
		&__find{width:100%; height:30px; margin-left:0; border-radius:15px 15px 15px 15px;}
		&__find-btn{width:16px; height:17px;  background:url('../images/common/board_search_m.png'); background-size:16px 17px;}
		&__table{display:block;
			&.type-view{
				& #{$this}__date{display:none;}
			}
		}
		&__tr{display:block; padding:20px 15px;}
		&__td{height:auto; font-size:1.5rem;
			&.type-list{height:auto;}
		}
		&__number{display:none;}
		&__title{display:block; width:100%; padding:0;}
		&__date{display:block; margin-top:2px; font-size:1.2rem; text-align:left;}
		&__link{padding:0;}
		&__content{display:block; padding:30px 7px 60px; font-size:1.4rem;
			& h2{margin:0; font-size:1.7rem;}
			&.type-another,&.type-society{padding:30px 7px 60px;}
		}
		&__nodata{padding:46px 0; text-align:center;
			& img{max-width:53px;}
		}
		&__nodata-txt{font-size: 1.5rem;}
		&__academic{font-size:1.5rem;}
		&__national{width:20px; vertical-align:middle;
			&.hidden-pt{display:inline-block !important;}
			&.hidden-m{display:none !important;}
			& + #{$this}__academic{margin-left:5px;}
		}
	}
}


.pagination{margin-top:50px;
	&.is-hide{display:none;}
	$this:&;
	&__list{margin:0; padding:0; font-size:0; text-align:center;}
	&__item{overflow:hidden; display:inline-block;
		& + &{margin-left:2px;}
	}
	&__link{display:inline-block; width:30px; height:30px; padding-top:4px; font-size:12px; color:#333; text-decoration:none; text-align:center; vertical-align:middle;
		border:1px solid #ededed; box-sizing:border-box;
		&:before{display:inline-block; height:100%; vertical-align:middle; content:'';}
	}
	&__item-first,&__item-prev,&__item-next,&__item-last{
		#{$this}__link{text-indent:-9999px; border-color:#aaa;}
	}
	&__item-first{
		#{$this}__link{background:url('../images/common/paging_first.png') no-repeat center center / 10px 7px;
			&:hover{background:url('../images/common/paging_first_on.png') no-repeat center center / 10px 7px;}
		}
	}
	&__item-prev{
		#{$this}__link{background:url('../images/common/paging_prev.png') no-repeat center center / 6px 7px;
			&:hover{background:url('../images/common/paging_prev_on.png') no-repeat center center / 6px 7px;}
		}
	}
	&__item-last{
		#{$this}__link{background:url('../images/common/paging_last.png') no-repeat center center / 10px 7px;
			&:hover{background:url('../images/common/paging_last_on.png') no-repeat center center / 10px 7px;}
		}
	}
	&__item-next{
		#{$this}__link{background:url('../images/common/paging_next.png') no-repeat center center / 6px 7px;
			&:hover{background:url('../images/common/paging_next_on.png') no-repeat center center / 6px 7px;}
		}
	}
	&__item-num{
		#{$this}__link{
			&:hover{border-color:#aaa;}
		}
		&.is-active{
			#{$this}__link{border-color:$point1; background-color:$point1; color:#fff}
		}
	}
	@media only screen and (max-width: $tablet-size) {margin-top:30px;}
	@media only screen and (max-width: $mobile-size) {
		&__link{font-size:1.2rem;}
	}
}
